.App {
  text-align: center;
}

.container {
  margin: 0 5%;
}

.filter-bar {
  border: solid 2px purple;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.input-box {
  padding: 10px;
  border: solid 1px purple;
  font-size: 100%;
  border-radius: 10px;
}

.filter-header {
  display: inline;
}

.facilities-group {
  display: inline-block;
  margin-left: 40px;
  font-size: 115%;
}

.facilities-checkbox {
  margin-left: 25px;
  width: 25px;
}

.select {
  height: 40px;
  width: 150px;
  margin-left: 20px;
  border: solid 1px purple;
  font-size: 100%;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

.hotel-box {
  color: #fff;
  border: solid 2px purple;
  margin-bottom: 20px;
  background-color: indigo;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-left:20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
